backoff==2.2.1
black==23.9.1
boto3==1.28.45
botocore==1.31.45
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
gql==3.4.1
graphql-core==3.2.3
idna==3.4
jmespath==1.0.1
multidict==6.0.4
mypy-extensions==1.0.0
omnivoreql==0.2.1
packaging==23.1
pathspec==0.11.2
pinboard==2.1.9
platformdirs==3.10.0
python-dateutil==2.8.2
requests==2.31.0
requests-toolbelt==1.0.0
s3transfer==0.6.2
six==1.16.0
urllib3==1.26.16
yarl==1.9.2
